/* src/components/Article.module.css */
.article {
  padding: 20px;
  width: 60%;
  margin: 30px auto;
  background: linear-gradient(rgb(255, 255, 255),rgb(208, 208, 208));
  box-shadow: 2px 2px 2px 2px black;

}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
}

.imageContainer {
  display: flex;
  gap: 10px; /* Расстояние между картинками */
  margin-top: 20px;
  flex-wrap: wrap; /* Для адаптивности */
}

.imageContainer img {
  max-width: 24%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

.link:hover {
  text-decoration: underline;
}
img {
 width: 25%;

}